.navbar-main{
    height: 50px;
    width: 100%;
    background-color: white;
    position: fixed;
    z-index: 100;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.navbar-main ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    gap: 60px;
    margin-left: 55%;
    margin-top: 10px;
}

.navbar-main li{
    cursor: pointer;
}
.nav-link{
    text-decoration: none;
    color: black;
}
#btn-1{
    background-color: transparent;
    border: 2px solid red;
    padding: 8px 8px;
    width: 100px;
    border-radius: 4px;
    font-size: 15px;
    color: rgb(204, 16, 16);
}
#btn-1:hover{
    cursor: pointer;
    background-color: rgb(204, 16, 16);
    border-color: rgb(204, 16, 16);
    color: white;
}